/*words*/
#say{
	width:1200px;
	margin-top: 5px;
	margin-left: 155px;
}

.say_box {
	background:#f8f8f8;
	box-shadow: 0px 10px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(214, 214, 214, 0.7);
	width:740px; 
	border-radius:10px;
	position:relative; 
	padding: 20px 0;
	margin:10px 0;
	font-size:14px;
	font-family:"宋体"; 
}
.say_box p {
	line-height:24px;
	padding:0 20px 20px ;
}
.say_box::before {
	content: "";
	width:0px;
	height:0px;
	border-style:solid;
	border-width:0px 0 20px 22px;
	border-color:transparent transparent transparent #fff;
	position:absolute;
	left:740px;
	top: 23px; 
	}/* 三角形 */
.say_box::after {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position:absolute;
	left:763px;
	top:16px;
	background:#CCCCCE;
	border: 2px solid #fff;
	transition:all 0.5s; 
	}/* 圆形 */
.say_box:hover::before {
	border-color:transparent transparent transparent #CECCCD 
	}/* 三角形 */
.say_box:hover::after {
	border:#fff 2px solid;
	background:#999;
	}/* 圆形 */
.say_box:hover {
	background: #f4f2f2;
	color:#333; 
	text-shadow: #f7f7f7 1px 1px 1px;
}
.dateview {
	position:absolute;
	left:785px;
	top:15px;
	width:125px;
	line-height:35px;
	background:#5EA51B;
	border-radius:0 30px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	font-size:14px; 
}
/*words end*/

/*diary*/
#content #diary{
	width:730px;
	background:#fff;
	margin-left: 155px;
}
#diary .diary_content{
	width:710px;
	margin-top:10px;
	padding:0 10px;
	background:#fff;
	padding-bottom:10px;
}
.diray_content .shiguang{
	width:710px;
	height:145px;
}
.diray_content .shiguang .head_ico{
	width:120px;
	height:145px; 
	background:url("../images/line_bg.jpg") 60px 0px repeat-y;
	filter:Alpha(opacity=80);
	-moz-opacity: 0.8; 
	opacity: 0.8;
}
.diray_content .shiguang .head_ico img{
	border-radius:50%;
	margin-top:10px;
}
.diray_content .shiguang .diary_text{
	width:530px;
	height:100px;
	background:#fff;
	border:1px solid #E0DFDF;
	filter:Alpha(opacity=80);
	-moz-opacity: 0.8; 
	opacity: 0.8;
	margin:10px 10px 0px 10px;
	position:relative;
	border-radius:5px;
	padding:10px;
	color:#4F4F4F;
}
.diray_content .shiguang .diary_text img{
	position:absolute;
	top:40px;
	left:-14px;
	z-index:1;
}
/*diary end*/

/*message start*/
#msg_box {
	width: 730px;
	margin: 10px;
}
#msg_box #text_box{
	height: 200px;
	width: 700px;
	margin: auto;
	font-size: 18px;
	resize:none;
}
#msg_box #text_box:focus{
	outline: #fff68f ridge  thick;
}
#msg_box #btn{
	height: 30px;
	width: 70px;
	margin-top: 10px;
	margin-left: 630px;
	font-size: 18px;
	font-family:"微软雅黑";
	color:#5d5d5d;
	outline: none;
	border-radius: 8px;
	background-color: #fff68f;
}
#msg_box #btn:hover{
	background-color: #ffb90f;
	color: #222;
}
.msg_con {
	width: 710px;
	margin:10px;
	padding-top: 10px;
	background-color: #eee;
	border-top: 1px solid #aaa;
}
.msg_con .left_ico{
	float: left;
	height: 50px;
	width: 50px;
	background: #eee url("../images/guitar.jpg")   no-repeat;
}
.msg_con .rgt_con {
	float: left;
	margin-left: 10px;
}
.msg_con .rgt_con .name h3{
	color: #FF3030;
}
.msg_con .rgt_con .info {
	font-size: 12px;
	color: #aaa;
}
.msg_con .rgt_con .reply {
	width: 50px;
	padding-left: 30px;
	background:url("../images/reply.png")  13px no-repeat;
}
.msg_con .rgt_con .zan {
	width: 100px;
	padding-left: 20px;
	padding-right: 30px;
	background: url("../images/zan.png")  33px no-repeat;
}
/*message end*/

